<meta HTTP-EQUIV="REFRESH" content="5c; url=<%= match_path(@game) %>">

<div class="row mx-auto">
<video controls autoplay class="mx-auto">
  <source src="../assets/basket.mp4" type="video/mp4">
  
  Your browser does not support the video tag.
</video>
</div>