@import 'bootstrap';
@import 'fontface';
@include fontFace('Simpsons', 'simpsonfont');

h1, h5{
  font-family: 'Simpsons';
};

body{
  background-image: url(../assets/Simspons_Clouds.jpg);
};

.container{
  background-color: white;
};

